*.class
*.log
*$.class
/target/classes.-1545496430.timestamp
/target/maven-status/maven-compiler-plugin/compile/default/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/dependency-reduced-pom.xml
/target/maven-status/maven-compiler-plugin/compile/default/inputFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/original-scals-study-1.0-SNAPSHOT.jar
/target/classes/out.txt
/target/maven-archiver/pom.properties
/target/scals-study-1.0-SNAPSHOT.jar
/target/classes/test.txt
